<div class="layui-fluid layui-anim febs-anim" id="febs-add" lay-title="事项新增管理">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" action="" lay-filter="sx-form" id="sx-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">事项类型：</label>
                            <div class="layui-input-block">
                                <select name="matterType" id="matterType" lay-verify="required">
                                    <option value="">请选择</option>
                                    <option value="1">请假</option>
                                    <option value="2">外出</option>
                                    <option value="3">报备</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">事项内容：</label>
                            <div class="layui-input-block">
                                <textarea   maxlength="1000" name="matterContent"  class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">创建人：</label>
                            <div class="layui-input-block">
                                <input type="text" name="createdBy" autocomplete="off" class="layui-input"
                                       maxlength="50" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item ">
                            <button type="reset" class="layui-btn" id="reset-form">重置</button>
                            <button class="layui-btn" lay-submit="" lay-filter="group-form-submit"
                             id="submit-form">保存</button>
                        </div>
                    </form>
                </div>
             </div>
        </div>
     </div>
</div>
<style>
    .layui-form-label{
        width: 100px;
    }
    .layui-input-block{
        width: 500px;
        margin-left: 130px;
    }

</style>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown','jquery','febs', 'form', 'formSelects','treeSelect'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            formSelects = layui.formSelects

        form.render();
        formSelects.render();

        form.on('submit(group-form-submit)', function (data) {
            AddMatter(data.field);
            return false;
        });

        var AddMatter = function (data) {
            var matterContent = data.matterContent;
            var messgar = $("#nihao").text();
            if(matterContent == null || matterContent == ''){
                layer.alert(messgar)
                return
            }

            febs.post(ctx + 'matter/add', data, function () {
                layer.closeAll();
                febs.alert.success('新增成功');
                $('#query').click();
            });
        }

    });

</script>